.bg-1 {
  padding: 10px;
  background-image: radial-gradient(circle at 50% 0, #504a93, #462875 77%);
}

.intro-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.intro-card {
  display: flex;
  flex-direction: column;
}

.intro-heading {
  width: 450px;
  height: 130px;
  font-family: CircularStd;
  font-size: 62px;
  font-weight: bold;
  color: white;
}

.intro-data {
  width: 430px;
  height: 80px;
  font-family: CircularStd;
  font-size: 18px;
  color: #cedcf2;
}

.button {
  width: 180px;
  height: 35px;
  color: white;
  background-color: #f0544c;
  border: solid 1px #c31a12;
  border-radius: 4px;
}

.intro-tag {
  color: #cedcf2;
  font-size: 10px;
}

.intro-image {
  width: 500px;
  height: 600px;
}
