.footer-container {
  display: flex;
  justify-content: space-around;
  padding: 90px;
}

.logo-box {
  background-color: #696871;
  height: 40px;
  width: 40px;
  padding: 6px 5px 5px;
  border-radius: 20px;
}

.logo-container {
  display: flex;
  justify-content: space-around;
  width: 200px;
}
